This is the output of an example run of min-sampling-tests.py
It shows an example output for reservoir sizes 25, 50, 100, 250,
500, 1000, 2500 and 5877, and the error for each of these examples.

Also, a 100 runs are conducted for each reservoir size and the
average error is computed.

Example reservoir of size 25: most observed IP addresses with their frequencies:
91.212.135.158: 3 occurances
65.55.92.152: 2 occurances
92.43.124.138: 1 occurances
74.205.4.13: 1 occurances
69.84.129.233: 1 occurances
66.210.198.51: 1 occurances
65.55.92.168: 1 occurances
65.55.37.88: 1 occurances
65.55.37.120: 1 occurances
65.54.188.110: 1 occurances
Error for this top 10: 374

Average error over 100 reservoirs of size 25: 376.29

Example reservoir of size 50: most observed IP addresses with their frequencies:
65.55.37.88: 3 occurances
91.212.135.158: 2 occurances
74.205.4.13: 2 occurances
74.125.47.27: 2 occurances
72.14.213.27: 2 occurances
65.55.92.152: 2 occurances
64.59.134.8: 2 occurances
213.199.180.150: 2 occurances
147.32.96.45: 2 occurances
90.177.113.3: 1 occurances
Error for this top 10: 375

Average error over 100 reservoirs of size 50: 327.55

Example reservoir of size 100: most observed IP addresses with their frequencies:
91.212.135.158: 5 occurances
216.32.180.22: 5 occurances
90.177.113.3: 4 occurances
74.205.4.13: 4 occurances
64.59.134.8: 4 occurances
65.55.92.136: 3 occurances
74.125.113.27: 2 occurances
65.55.92.184: 2 occurances
65.55.92.152: 2 occurances
65.55.37.88: 2 occurances
Error for this top 10: 210

Average error over 100 reservoirs of size 100: 265.61

Example reservoir of size 250: most observed IP addresses with their frequencies:
91.212.135.158: 17 occurances
147.32.96.45: 11 occurances
65.55.92.152: 7 occurances
216.32.180.22: 7 occurances
72.14.213.27: 6 occurances
65.55.92.136: 6 occurances
65.55.92.184: 5 occurances
65.55.37.88: 5 occurances
65.54.188.110: 5 occurances
64.59.134.8: 5 occurances
Error for this top 10: 243

Average error over 100 reservoirs of size 250: 188.28

Example reservoir of size 500: most observed IP addresses with their frequencies:
91.212.135.158: 32 occurances
64.59.134.8: 17 occurances
216.32.180.22: 17 occurances
65.55.92.184: 11 occurances
65.55.37.88: 11 occurances
147.32.96.45: 11 occurances
90.177.113.3: 9 occurances
65.55.37.72: 9 occurances
147.32.80.9: 8 occurances
65.55.92.152: 7 occurances
Error for this top 10: 128

Average error over 100 reservoirs of size 500: 155.58

Example reservoir of size 1000: most observed IP addresses with their frequencies:
91.212.135.158: 72 occurances
64.59.134.8: 31 occurances
216.32.180.22: 29 occurances
24.71.223.11: 27 occurances
147.32.96.45: 22 occurances
90.177.113.3: 21 occurances
74.205.4.13: 21 occurances
65.55.37.104: 19 occurances
65.54.188.72: 19 occurances
65.54.188.94: 17 occurances
Error for this top 10: 94

Average error over 100 reservoirs of size 1000: 111.99

Example reservoir of size 2500: most observed IP addresses with their frequencies:
91.212.135.158: 180 occurances
64.59.134.8: 78 occurances
216.32.180.22: 70 occurances
24.71.223.11: 68 occurances
65.55.92.136: 53 occurances
65.55.37.88: 52 occurances
147.32.96.45: 48 occurances
65.55.92.152: 45 occurances
65.55.37.72: 44 occurances
90.177.113.3: 39 occurances
Error for this top 10: 71

Average error over 100 reservoirs of size 2500: 77.15

Example reservoir of size 5877: most observed IP addresses with their frequencies:
91.212.135.158: 404 occurances
64.59.134.8: 194 occurances
24.71.223.11: 160 occurances
216.32.180.22: 154 occurances
90.177.113.3: 100 occurances
147.32.96.45: 100 occurances
65.55.37.72: 96 occurances
65.55.37.88: 94 occurances
65.55.92.136: 93 occurances
65.55.92.168: 90 occurances
Error for this top 10: 0

Average error over 100 reservoirs of size 5877: 0.0